
<div id="menu-wrapper">

  <mat-toolbar color="primary">

    <div id="menu-width">
    <span *ngIf="isLogoVisible" class="logo-container">
      <span class="noSelect" *ngIf="!IsLogin" routerLink="/landing"><mat-icon class="logo">group_work</mat-icon></span> <!--Skill Trade-->
      <span class="noSelect" *ngIf="IsLogin"><mat-icon>group_work</mat-icon></span>
    </span>

    <span *ngIf="!isLogoVisible">

      <span class="noSelect" *ngIf="!IsLogin" routerLink="/landing"></span>
    </span>

    <span *ngIf="!IsLogin" class="title-menu noSelect" mat-icon-button>
      <mat-icon>supervised_user_circle</mat-icon>
    </span>
  
    <span *ngIf="IsLogin" class="title-menu noSelect" mat-icon-button>
      <mat-icon>more_vert</mat-icon>
    </span>

  </div>
    
  </mat-toolbar>

</div>


<div class="route-spacing">

    <router-outlet (activate)="componentAdded($event)"></router-outlet>

</div>

