
#menu-wrapper{

    width: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.3);
}

#menu-width{

    width: 100%;
}

.title-menu{

    cursor: pointer;
    display: flex;
    float: right;
    padding-top: 5px;
}

.route-spacing{

    padding: 15px;
}

.logo {

    cursor: pointer;
    padding-top: 5px;
}