
.headline {

    background-color: #673ab7;
    color: #fff;
    width: 100%;
    position: relative;
    left: -15px;
    text-align: center;
    top: -111px;
    z-index: -1;
    padding-right: 30px;
}

.logo {

    font-size: 70px;
    width: 100%;
}

.headline-contents {

    padding-top: 9%;
    margin-right: -30px;
    width: 100%;
}

.header-title {

    padding-bottom: 2%;
}

.roll-btn {

    width: 100%;
}